<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kangren.cashbook">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">

        </activity>

        <!--侧滑菜单->登录-->
        <activity android:name=".login.LoginActivity">

        </activity>

        <activity android:name=".login.SignActivity">

        </activity>

        <!--侧滑菜单->壁纸-->
        <activity android:name=".wallpaper.WallpaperActivity">

        </activity>

        <!--侧滑菜单->壁纸->预览-->
        <activity android:name=".wallpaper.PreviewActivity">

        </activity>

        <!--侧滑菜单->皮肤商城-->
        <activity android:name=".skin.SkinActivity">

        </activity>

        <!--侧滑菜单->微信-->
        <activity android:name=".wechat.WechatActivity">

        </activity>

        <!--侧滑菜单->设置-->
        <activity android:name=".setting.SettingActivity">

        </activity>
    </application>

</manifest>